body
{
    background-color:aqua;
font-family: Verdana, Geneva, Tahoma, sans-serif; 
font-size:small;
}

ul {
    list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 10px solid purple;
}